
* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


body {
  flex-shrink: 0;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  margin: 0;
}

h1, h2, h4, p {
  margin: 0;
  padding: 0.5em 0;
}

section, footer {
  padding: 3.75rem 1.25rem;
  width: 100%;
  margin: 0 auto;
}


/* Header */
.header {
  background: url('image/landing.jpg') center/cover no-repeat;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 0.75rem 0.25rem;
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 1rem;
}


.header > .container,
.footer > .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.6rem;
  margin-top: 0;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  height: 7.5rem;         
}

.logo img {
  height: 100%;           
  width: auto;
  object-fit: contain;    
}
.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.6rem;
  padding: 0.5rem 1.0rem;
  border-radius: 1.25rem;
  transition: background 0.3s;
}

.navbar a.active,
.navbar a:hover {
  background: linear-gradient(to right, #c10104, #620a01);  
}

.hero {
  padding: 6.5rem 6.5rem;
}

.hero h1 {
  font-size: 2.5em;
  line-height: 1.4;
}



.btn {
  padding: 0.6rem 1.25rem;
  margin: 0.6rem;
  font-size: 1em;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}


/* Service */
.service {
  text-align: center;
  padding: 2.75rem 1.25rem;
  background: radial-gradient(circle at center, #140505 0%, #000000 100%);
  color: #fff;
}

.service .title {
  font-size: 2em;
  color: #d10000;
  margin-bottom: 0.5rem;
}

.service .subtitle {
  font-size: 1em;
  color: #ccc;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.service-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.service-items .item {
  background: #1a1a1a;
  border-radius: 1rem;
  overflow: hidden;
  width: 180px;
  box-shadow: 0 4px 10px rgba(255, 88, 88, 0.386);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.service-items .item:hover {
  transform: translateY(-5px);
}

.service-items img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 4px solid #620a01;
}

.service-btn {
  background: linear-gradient(to right, #8b0000, #c10104);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 0.95rem;
  margin: 1rem 0;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.service-btn:hover {
  background: linear-gradient(to right, #a30000, #ff1a1a);
}

.image-wrapper {
  position: relative;
  width: 180px;
  height: 240px;
  border-radius: 1.2rem;
  overflow: hidden;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  background-color: #c10104;
  border-radius: 1.2rem;
  z-index: -1;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem;
  position: relative;
  z-index: 1;
}


/* Why Choose */
.why-section {
  padding: 4rem 1rem;
  background: radial-gradient(circle at center, #140505 0%, #000000 100%);
  color: white;
  text-align: center;
}

.why-section h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.why-section h2 span {
  color: #c10104;
}

.why-subtitle {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 3rem;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
  justify-items: center;
}

.why-item {
  background: #4b4b4b;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background 0.3s ease;
  max-width: 18rem;
}

.why-item:hover {
  transform: translateY(-5px);
  background: #3f0000;
}

.why-item i {
  font-size: 2.5rem;
  color: #FFC300;
  margin-bottom: 1rem;
}

.why-item h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.why-item p {
  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.4;
}


/* About */
.about {
  background: radial-gradient(circle at center, #140505 0%, #000000 100%);
  color: white;
  padding: 4rem 2rem;
  font-family: 'Poppins', sans-serif;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about-image img {
  width: 80%;
  max-width: 520px;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.about-text {
  max-width: 600px;
}

.about-text h3 {
  color: #aaa;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.about-text h2 {
  color: #c10104;
  font-size: 2.3rem;
  margin-bottom: 1.25rem;
  line-height: 1.3;
  font-weight: 700;
}

.about-text h2 span {
  color: #ffffff;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  text-align: left;
}

.about-btn {
  background-color: white;
  color: #000;
  font-weight: bold;
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.about-btn:hover {
  background: linear-gradient(to right,  #c10104, #620a01);
  color: white;
}



/* Team */
.team {
  background: radial-gradient(circle at center, #140505 0%, #000000 100%);
  padding: 2rem 0;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.team h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-transform: uppercase;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.member {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1.5rem;
  width: 260px;
  padding-top: 1.5rem;
  box-shadow: 0 8px 30px rgba(255, 255, 255, 0.41);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member:hover {
  transform: translateY(-10px);
}

.member img {
  width: 220px;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  border: 3px solid #ffab04;
  margin-bottom: 1.2rem;
}

.member h4 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.btn {
  background:none;
  color: #c10104;
  text-decoration: none;
  border:none;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.btn:hover {
  background: linear-gradient(to right,  #c10104, #620a01);
  color: white;
}


/* Porto Landing */

.event-title {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
}
.event-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px;
  margin-top: 20px;
}

.event-item {
  position: relative;
  overflow: hidden;
  height: 250px;
  transition: all 0.3s ease;
}

.event-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.event-item.dark img {
  filter: grayscale(100%) brightness(50%);
}

.event-item:hover img {
  filter: none;
}

.event-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.light-text {
  color: #ff0004;
}

.dark-text {
  color: #ffffff;
}

.event-info span {
  display: block;
  font-size: 14px;
  font-weight: normal;
}


/* Portofolio */
.portfolio {
  background: radial-gradient(circle at center, #140505 0%, #000000 100%);
  color: #ffffff;
  padding: 3rem 1rem;
  text-align: center;
}

.portfolio h2 span {
  font-size: 2rem;
  color: #c10104;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 0.5rem;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.portfolio-item {
  background: #271111;
  border-radius: 1rem;
  overflow: hidden;
  width: 18rem;
  text-align: left;
  position: relative;
  padding-bottom: 1rem;
  box-shadow: 0 8px 20px rgba(255, 79, 79, 0.318);
}

.portfolio-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.badge {
  background-color: #c14242;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.3rem 0.75rem;
  border-radius: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-transform: uppercase;
}

.event-meta {
  margin: 0.8rem 1rem 0;
  color: #aaa;
  font-size: 0.85rem;
}

.portfolio-item h4 {
  margin: 0.5rem 1rem 0.2rem;
  font-size: 1.05rem;
  font-weight: bold;
  color: #ffffff;
}

.portfolio-item p {
  margin: 0 1rem;
  font-size: 0.85rem;
  color: #cccccc;
}

.view-all-container {
  margin-top: 2.5rem;
}

.view-all-btn {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background: #777573;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2rem;
  text-decoration: none;
  transition: background 0.3s ease;
}

.view-all-btn:hover {
  background: linear-gradient(to right,  #c10104, #620a01);
}


/* Header Content */

.header-content {
  background: url('image/bc.png') center/cover no-repeat;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem 0.25rem;

}

.header-content .hero-text {
  text-align: center;
  padding: 8.5rem 1.25rem;
}

.header-content .hero-text h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.6);
}

/* Specialist Page */
.specialist-section {
  padding: 4rem 2rem;
  background: radial-gradient(circle at center, #140505 0%, #000000 100%);
  color: #ffffff;
}

.specialist-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 2rem;
}

.specialist-text {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
}

.specialist-text .tag {
  display: inline-block;
  background: #f04320;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.specialist-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.event-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0;
  color: white;
  font-size: 1.5rem;
}

.event-list li {
  margin-bottom: 0.5rem;
}


.specialist-gallery-wrapper {
  background: #620a01;
  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  flex: 2;
  max-width: 40%;
}

.specialist-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row-top {
  display: flex;
  gap: 1rem;
}

.row-bottom {
  display: flex;
}

.image-box {
  flex: 1;
  overflow: hidden;
  border-radius: 1rem;
  height: 180px;
}

.row-bottom .image-box {
  width: 100%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}


.row-top {
  display: flex;
  gap: 1rem;
}

.row-top img,
.row-bottom img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.row-top img {
  flex: 1;
  height: 200px;
}

.row-bottom img {
  width: 100%;
  height: 200px;
}


/* News Page */

.news-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 1.25rem;
}

.news-section {
  padding: 2.5rem 1.25rem;
  max-width: 75.0rem;
  margin: 0 auto;
}

.news-search-box {
  border: 0.125rem solid #c10104;
  border-radius: 0.6rem;
  padding: 1.25rem;
  margin-bottom: 2.5rem;
}

.news-search-box label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.6rem;
}

.news-search-box input {
  width: 95%;
  padding: 0.75rem;
  border-radius: 0.2rem;
  border: none;
  margin-bottom: 0.6rem;
  background: #D9D9D9;
}

.search-btn {
  background: linear-gradient(to right, #910602, #c10104);
  color: #000;
  border: none;
  padding: 0.6rem 1.25rem;
  border-radius: 1.25rem;
  cursor: pointer;
  font-weight: bold;
}

.news-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  justify-content: center;
}

.news-box {
  flex: 1 1 18.75rem;
  border: 0.1rem solid #c10104;
  padding: 1.25rem;
  border-radius: 0.6rem;
  min-height: 9.3rem;
}

.news-box h3 {
  margin-bottom: 0.6rem;
}

.news-box a {
  color: #c10104;
  font-weight: bold;
  text-decoration: none;
}

.news-box a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 37.5rem) {
  .news-title {
    font-size: 1.8em;
  }
}


/* Footer */
.footer {
  background: radial-gradient(circle at center, #140505 0%, #000000 100%);
  color: #ffffff;
  padding: 3rem 1rem 1rem;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.5rem;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 200px;
}

.footer-logo {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  background: #ccc;
  box-shadow: 0 0 0.6rem rgb(255, 255, 255);
}

.footer-section h4 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.footer-section p {
  color: #e7e7e7;
  font-size: 0.8rem;
  text-decoration: none;
  transition: color 0.3s ease;
  padding-right: 0.8rem;
  margin-bottom: 0.5rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.social-icons a {
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #c10104;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.85rem;
  color: #cccccc;
  border-top: 1px solid #444;
  padding-top: 1rem;
}

.footer-bottom a {
  color: #bbbbbb;
  text-decoration: none;
  margin: 0 0.4rem;
}

/* Pricelist Page */

.pricing-section {
  background: radial-gradient(circle at center, #57000089 0%, #000000 100%);
  padding: 4rem 2rem;
  text-align: center;
}

.pricing-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.pricing-cards img {
  object-fit: cover;
  border-bottom: 4px solid #620a01;
}

.price-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 1.2rem;
  overflow: hidden;
}

.price-wrapper::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  background-color: #c10104;
  border-radius: 1.2rem;
  z-index: -1;
}

.price-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem;
  position: relative;
  z-index: 1;
}

.overlay-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  z-index: 2;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.card {
  background: #100200;
  border-radius: 2rem;
  width: 22rem;
  box-shadow: inset 0 0 10px rgba(124, 62, 62, 0.575),
              0 0 10px rgb(242, 190, 190);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  padding: 1rem 1.2rem 2.5rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 0 25px rgba(252, 181, 0, 0.503), inset 0 0 12px rgba(255, 255, 255, 0.667);
}


.card h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0.5rem;
}

.card p {
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 1rem;
}


.card ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  text-align: left;
}

.card ul li {
  font-size: 0.95rem;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: start;
  gap: 0.5rem;
}

.card ul li::before {
  content: "✔";
  color: #ff7700;
  font-weight: bold;
  flex-shrink: 0;
  margin-top: 0.1rem;
}

.price {
  margin-top: auto;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding-top: 1rem;
}

.price .currency {
  font-size: 1rem;
  color: #aaa;
}


/* Responsive Mobile */
@media (max-width: 48rem) {  

  .menu-toggle {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    margin-left: auto;
    z-index: 1100;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    max-width: 20rem;
    height: 100%;
    background: #111;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 1.5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.5);
  }

  .navbar.open {
    transform: translateX(0);
  }

  .navbar a {
    display: block;
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    font-size: 1rem;
    border-bottom: 1px solid #333;
  }

  .nav-container {
    flex-wrap: wrap;
    position: relative;
  }

  .hero {
    padding: 3rem 1rem;
  }

  .hero h1 {
    font-size: 1.6rem;
  }

  .service-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    padding: 1rem;
  }

  .service-items .item {
    background-color: #1a1a1a;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 160px;
  }

  .service-items .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(255, 0, 0, 0.4);
  }

  .image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .item-title {
    background-color: #c00000;
    color: #fff;
    padding: 0.75rem 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    line-height: 1.2;
  }

  .service-items .item:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .why-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .why-item {
    max-width: 100%;
    width: 100%;
    padding: 0.8rem 0.5rem;
  }

  .why-item i, .why-item h4  {
    margin: 0;  
  }

  .about-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-image {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
  }

  .about-image img {
    width: 100%;
    max-width: 12rem;
    height: auto;
    border-radius: 0.5rem;
  }

  .about-text {
    flex: 1 1 45%;
    text-align: left;
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .about-text h2 {
    font-size: 1.4rem;
  }

  .about-text p {
    text-align: left;
    font-size: 0.9rem;
  }

  .about-btn {
    padding: 0.6rem 1.25rem;
    font-size: 0.9rem;
  }

  .team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-items: center;
  }

  .member {
    width: 100%;
    max-width: 10rem;
    padding-top: 0.5rem;
  }

  .member img {
    width: 90%;
    height: auto;
    aspect-ratio: 3/4;
  }


  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    justify-items: center;
  }

  .portfolio-item {
    width: 100%;
    max-width: 11rem;
  }

  .portfolio-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
  }

  .portfolio-item h4 {
    margin: 0.5rem 1rem 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffffff;
  }

  .portfolio-item p {
    margin: 0 1rem;
    font-size: 0.5rem;
    color: #cccccc;
  }

  .why-section, .service, .about, 
  .team, .portfolio {
    padding: 1rem 1rem;
  }

  .footer {
    padding: 1rem 1.5rem;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-section {
    flex: 1 1 45%;
    max-width: 45%;
  }

  .footer-logo {
    width: 9rem;
    height: 9rem;
    margin-bottom: 0.5rem;
  }

  .footer-section h4 {
    font-size: 0.85rem;
    margin-bottom: 0.4rem;
  }

  .footer-section p {
    font-size: 0.75rem;
    line-height: 1.3;
    margin-bottom: 0.3rem;
  }

  .social-icons a {
    font-size: 1rem;
  }

  .footer-bottom {
    font-size: 0.7rem;
    padding-top: 0.5rem;
    margin-top: 1rem;
  }

  .news-columns {
    flex-direction: column;
    gap: 1rem;
  }

  .portfolio-item,
  .member {
    width: 90%;
    max-width: 20rem;
  }

  /* portolanding mobile */

  .event-title {
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 0.75rem;
  margin-top: 1rem;
}

.event-item {
  position: relative;
  overflow: hidden;
  height: 20vh; 
  transition: all 0.3s ease;
}

.event-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.event-item.dark img {
  filter: grayscale(100%) brightness(50%);
}

.event-item:hover img {
  filter: none;
}

.event-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.5rem; 
  font-weight: bold;
  color: inherit;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 0 0.25rem;
}

.light-text {
  color: #ff0004;
}

.dark-text {
  color: #ffffff;
}

.event-info span {
  display: block;
  font-size: 0.5rem; 
  font-weight: normal;
}

/* pricelist mobile */
.pricing-section {
  background: radial-gradient(circle at center, #57000089 0%, #000000 100%);
  padding: 3rem 1rem;
  text-align: center;
}

.pricing-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #fff;
  text-transform: uppercase;
}

.pricing-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}

.pricing-cards img {
  object-fit: cover;
  border-bottom: 0.2rem solid #620a01;
}

.price-wrapper {
  position: relative;
  width: 100%;
  height: 16vh;
  border-radius: 1rem;
  overflow: hidden;
}

.price-wrapper::before {
  content: "";
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  width: 100%;
  height: 100%;
  background-color: #c10104;
  border-radius: 1rem;
  z-index: -1;
}

.price-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
}

.overlay-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 0.95rem;
  font-weight: 600;
  text-align: center;
  z-index: 2;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.7);
}

.card {
  background: #100200;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 18rem;
  box-shadow: inset 0 0 0.5rem rgba(124, 62, 62, 0.5),
              0 0 0.5rem rgba(242, 190, 190, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 0.8rem 1rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0 0 1.2rem rgba(252, 181, 0, 0.5),
              inset 0 0 0.6rem rgba(255, 255, 255, 0.6);
}

.card h3 {
  font-size: 1rem;
  color: #fff;
  margin: 0.3rem 0;
}

.card p {
  font-size: 0.75rem;
  color: #ccc;
  margin-bottom: 0.8rem;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0.8rem 0;
  text-align: left;
}

.card ul li {
  font-size: 0.75rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: start;
  gap: 0.4rem;
}

.card ul li::before {
  content: "✔";
  color: #ff7700;
  font-weight: bold;
  flex-shrink: 0;
  margin-top: 0.05rem;
}

.price {
  margin-top: auto;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding-top: 0.5rem;
}

.price .currency {
  font-size: 0.75rem;
  color: #aaa;
}

/* Specilist Mobile */
.specialist-section {
    padding: 2rem 1rem;
  }

  .specialist-block {
    gap: 1rem;
  }

  .specialist-text {
    min-width: 40%;
    max-width: 50%;
  }

  .specialist-text .tag {
    font-size: 0.75rem;
    padding: 0.3rem 0.7rem;
    margin-bottom: 0.8rem;
  }

  .specialist-text h2 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }

  .event-list {
    font-size: 0.8rem;
    padding-left: 1rem;
  }

  .event-list li {
    margin-bottom: 0.3rem;
  }

  .specialist-gallery-wrapper {
    max-width: 50%;
    padding: 0.7rem;
    border-radius: 1rem;
  }

  .image-box {
    height: 100px;
    border-radius: 0.7rem;
  }

  .image-box img {
    height: 100%;
    border-radius: 0.7rem;
  }

  .row-top,
  .row-bottom {
    gap: 0.7rem;
  }

  .row-top img,
  .row-bottom img {
    height: 100px;
  }

}